@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,523;1,523&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,523;1,523&family=Luckiest+Guy&display=swap');

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  align-items: center;
}

.heading {
  color: #6c1079;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.description {
  font-family: "Arimo", sans-serif;
  color: #000000;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.card {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  font-family: "Arimo", sans-serif;
  transition: box-shadow 0.3s ease;
}

.highlight:hover {
  box-shadow: 0 8px 16px rgba(161, 14, 198, 0.2);
}

.iconContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.icon {
  width: 120px;
  height: 120px;
}

.title {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
  text-align: center;
}

.text {
  color: #666;
  font-size: 1rem;
  text-align: center;
}