
.sectionContainer {
  position: relative;
  padding: 2rem;
}

.sectionContent {
  position: relative;
  z-index: 1;
}

.curveTop {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  height: 100px;
  background-color: inherit;
  clip-path: polygon(0 0, 100% 100%, 0% 100%);
}

.curveBottom {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  height: 100px;
  background-color: inherit;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.homeSection {
  background-color: #ffffff;
}

.aboutSection {
  background-color: #fff0ff;
}

.languagesSection {
  background-color: #dbb6ee;
}

.projectsSection {
  background-color: #b57edc;
}

.contactSection {
  background-color: #7f4ca5
  ;
}

.contactSection .sectionContent {
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}